@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@source "../**/*.{ts,tsx}";
@source "../../../../apps/**/*.{ts,tsx}";

@custom-variant dark (&:is(.dark *));

:root {
	--yeti-50: oklch(0.978 0.0092 232.36);
	--yeti-100: oklch(0.9507 0.0201 238.67);
	--yeti-200: oklch(0.8973 0.0443 232.42);
	--yeti-300: oklch(0.8135 0.0831 232.31);
	--yeti-400: oklch(0.7366 0.1138 232.04);
	--yeti-500: oklch(0.6475 0.129 236.22);
	--yeti-600: oklch(0.5538 0.1209 240.68);
	--yeti-700: oklch(0.4747 0.1025 241.12);
	--yeti-800: oklch(0.4225 0.0866 240.08);
	--yeti-900: oklch(0.3772 0.0722 240.33);
	--yeti-950: oklch(0.1288 0.0406 264.7);

	--radius: 0.5rem;
	--background: var(--color-white);
	--foreground: oklch(0.141 0.005 285.823);
	--card: oklch(1 0 0);
	--card-foreground: oklch(0.141 0.005 285.823);
	--popover: oklch(1 0 0);
	--popover-foreground: oklch(0.141 0.005 285.823);
	--primary: var(--yeti-400);
	--primary-foreground: oklch(0.97 0.014 254.604);
	--secondary: oklch(0.967 0.001 286.375);
	--secondary-foreground: oklch(0.21 0.006 285.885);
	--muted: oklch(0.967 0.001 286.375);
	--muted-foreground: oklch(0.552 0.016 285.938);
	--accent: oklch(0.967 0.001 286.375);
	--accent-foreground: oklch(0.21 0.006 285.885);
	--destructive: oklch(0.577 0.245 27.325);
	--border: var(--color-gray-100);
	--input: oklch(0.92 0.004 286.32);
	--ring: var(--yeti-400);
	--chart-1: oklch(0.646 0.222 41.116);
	--chart-2: oklch(0.6 0.118 184.704);
	--chart-3: oklch(0.398 0.07 227.392);
	--chart-4: oklch(0.828 0.189 84.429);
	--chart-5: oklch(0.769 0.188 70.08);
	--sidebar: var(--color-white);
	--sidebar-foreground: var(--yeti-900);
	--sidebar-primary: var(--yeti-700);
	--sidebar-primary-foreground: oklch(0.97 0.014 254.604);
	--sidebar-accent: oklch(0.967 0.001 286.375);
	--sidebar-accent-foreground: oklch(0.21 0.006 285.885);
	--sidebar-border: oklch(0.92 0.004 286.32);
	--sidebar-ring: oklch(0.623 0.214 259.815);
}

.dark {
	--background: var(--color-slate-950);
	--foreground: oklch(0.985 0 0);
	--card: oklch(0.21 0.006 285.885);
	--card-foreground: oklch(0.985 0 0);
	--popover: oklch(0.21 0.006 285.885);
	--popover-foreground: oklch(0.985 0 0);
	--primary: var(--yeti-500);
	--primary-foreground: var(--yeti-50);
	--secondary: oklch(0.274 0.006 286.033);
	--secondary-foreground: oklch(0.985 0 0);
	--muted: oklch(0.274 0.006 286.033);
	--muted-foreground: oklch(0.705 0.015 286.067);
	--accent: var(--color-gray-950);
	--accent-foreground: oklch(0.985 0 0);
	--destructive: oklch(0.704 0.191 22.216);
	--border: oklch(1 0 0 / 10%);
	--input: oklch(1 0 0 / 15%);
	--ring: var(--yeti-400);
	--chart-1: oklch(0.488 0.243 264.376);
	--chart-2: oklch(0.696 0.17 162.48);
	--chart-3: oklch(0.769 0.188 70.08);
	--chart-4: oklch(0.627 0.265 303.9);
	--chart-5: oklch(0.645 0.246 16.439);
	--sidebar: var(--color-gray-950);
	--sidebar-foreground: var(--yeti-50);
	--sidebar-primary: var(--yeti-700);
	--sidebar-primary-foreground: oklch(0.379 0.146 265.522);
	--sidebar-accent: oklch(0.274 0.006 286.033);
	--sidebar-accent-foreground: oklch(0.985 0 0);
	--sidebar-border: oklch(1 0 0 / 10%);
	--sidebar-ring: oklch(0.488 0.243 264.376);
}

@theme inline {
	--font-sans: var(--font-libre-franklin);

	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-card: var(--card);
	--color-card-foreground: var(--card-foreground);
	--color-popover: var(--popover);
	--color-popover-foreground: var(--popover-foreground);
	--color-primary: var(--primary);
	--color-primary-foreground: var(--primary-foreground);
	--color-secondary: var(--secondary);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-muted: var(--muted);
	--color-muted-foreground: var(--muted-foreground);
	--color-accent: var(--accent);
	--color-accent-foreground: var(--accent-foreground);
	--color-destructive: var(--destructive);
	--color-destructive-foreground: var(--destructive-foreground);
	--color-border: var(--border);
	--color-input: var(--input);
	--color-ring: var(--ring);
	--color-chart-1: var(--chart-1);
	--color-chart-2: var(--chart-2);
	--color-chart-3: var(--chart-3);
	--color-chart-4: var(--chart-4);
	--color-chart-5: var(--chart-5);
	--radius-sm: calc(var(--radius) - 4px);
	--radius-md: calc(var(--radius) - 2px);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) + 4px);
	--color-sidebar: var(--sidebar);
	--color-sidebar-foreground: var(--sidebar-foreground);
	--color-sidebar-primary: var(--sidebar-primary);
	--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
	--color-sidebar-accent: var(--sidebar-accent);
	--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
	--color-sidebar-border: var(--sidebar-border);
	--color-sidebar-ring: var(--sidebar-ring);

	--color-yeti-50: var(--yeti-50);
	--color-yeti-100: var(--yeti-100);
	--color-yeti-200: var(--yeti-200);
	--color-yeti-300: var(--yeti-300);
	--color-yeti-400: var(--yeti-400);
	--color-yeti-500: var(--yeti-500);
	--color-yeti-600: var(--yeti-600);
	--color-yeti-700: var(--yeti-700);
	--color-yeti-800: var(--yeti-800);
	--color-yeti-900: var(--yeti-900);
	--color-yeti-950: var(--yeti-950);

	--animate-accordion-down: accordion-down 0.2s ease-out;
	--animate-accordion-up: accordion-up 0.2s ease-out;

	@keyframes accordion-down {
		0% {
			height: 0;
		}
		100% {
			height: var(--radix-accordion-content-height);
		}
	}

	@keyframes accordion-up {
		0% {
			height: var(--radix-accordion-content-height);
		}
		100% {
			height: 0;
		}
	}
}

@layer base {
	* {
		@apply border-border;
	}
	html {
		@apply font-sans;
	}
	body {
		@apply bg-background text-foreground font-medium;
	}
}

@utility container {
	margin-inline: auto;
	padding-inline: 2rem;
}
